ejercicios-resueltos/.idea
ejercicios-resueltos/node_modules
ejercicios-resueltos/kata2-2015/database.txt
ejercicios-resueltos/kata2-2015/database.txt.gz
ejercicios-resueltos/kata3-2015/database.txt
ejercicios-resueltos/kata3-2015/database.txt.gz
ejercicios-resueltos/kata4-2015/database.txt
ejercicios-resueltos/kata4-2015/database.txt.gz
